################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Solution/FileContentIndex
/.vs/Solution/v17/.suo
