@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","CadCliente")" role="button">Cadastrar Cliente</a></p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","CadProduto")" role="button">Cadastrar Produto</a></p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index","CadCobranca")" role="button">Cadastrar Cobranca</a></p>
</div>
